<% layout('layouts/boilerplate') %>

<div class="container">
    <!-- <div class="u-align-center u-black u-container-style u-group u-opacity u-opacity-90 u-group-1" style="margin-top: -400px"> -->
        <div class="u-container-layout u-container-layout-5" >
          
          <form  method="post"  enctype="multipart/form-data" class="needs-validation" novalidate>

            <div class="form-outline mb-4">
                <input required accept="image/png, image/jpeg" type="file" id="image" name="image" class="form-control form-control-lg"   />
                <label class="form-label" for="image">Profile image</label>
            </div>

            <div class="d-flex justify-content-center" >
              <button type="submit"
                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" >Upload</button>
            </div>
          </form>                      
        </div>
      </div>
</div>

<script src="/scripts/validateForms.js"></script>


<script>
  var image = document.getElementById("image");
  
  image.onchange = function() {
      if(this.files[0].size > 60200000){
         alert("File is too big!");
         this.value = "";
      };
  };
  </script>