<% layout('layouts/boilerplate') %>

<div class="container">
    <div style="display: flex; flex-direction:column; justify-content:center; align-items: center; margin-top:30px ">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="" style="border-radius: 50%; height: 200px; width:200px;">
        <h4>Usernameeeeeeeeeeeeeeeee</h4>
        <h6>@username</h6>
        <p>IG: blabla</p>
        <hr style="width:100%;margin-top:20px;">
    </div>

</div>