<% layout('layouts/boilerplate') %>

<body onload="easyLevel()">
 
  <div class="container" >  
    <p>Welcome to interactive ear training game. Listen generated sound -> recreate -> check the answer.</p>
    <p>To tweak the knob - scroll mouse wheel</p>
    <div class="row border">
      <div class="col center header">
        Current level: <div id="currentLevel"> Easy</div>
      </div>
      <div class="col center">
        <button class="button btn" id="easyLevel">Easy</button>
      </div>
      <div class="col center">
        <button class="button btn" id="hardLevel">Hard</button>
      </div>
    </div>
    <div class="row border">
      <div class="col center">
        <button class="button btn" id="generateWaves">Listen generated sound</button>
      </div>
      <div class="col center">
        <button class="button btn" id="playWaves"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
          <path d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"/>
        </svg></button>
      </div>
      <div class="col center">
        <button class="button btn " id="checkAnswer">Check</button>
        <button class="button btn " id="nextGeneration">Next</button>
      </div>
    </div>
    <div class="row border">
      <div class="col" >
        <div class="header">Oscillator 1</div>
        <div>Wave</div>
        <select class="form-select selectOption" name="wave" id="waves">
          <option value="square">square</option>
          <option value="sine">sine</option>
          <option value="saw">saw</option>
        </select>
      </div>
      <div class="col" >
        <div class="text-center" style="padding-bottom: 20px;">Volume</div>
        <div class="control">
          <div class="slider">
              <div class="knobWheel">
              </div>
            </div>
          </div>
          <div class="text-center" id="knob-value" style="padding-top: 20px;">0.40</div>        
      </div>
      <div class="col" style="border-right: 2px solid grey;">
        <div class="text-center" style="padding-bottom: 20px;">Pitch</div>
        <div class="control">
          <div class="slider">
              <div class="knobWheel knobWheel5">
              </div>
            </div>  
          </div>
          <div class="text-center" id="knob-value5" style="padding-top: 20px;">0.40</div>
      </div>
      <div class="col">
        <div class="header">Oscillator 2</div>
        <div>Wave</div>
        <select class="form-select selectOption" name="wave" id="waves2">
          <option value="square">square</option>
          <option value="sine">sine</option>
          <option value="saw">saw</option>
        </select>
        </div>
        <div class="col">
        <div class="text-center" style="padding-bottom: 20px;">Volume</div>
        <div class="control">
          <div class="slider">
              <div class="knobWheel knobWheel2">
              </div>
            </div>  
          </div>
          <div class="text-center" id="knob-value2" style="padding-top: 20px;">0.40</div>
      </div>
      <div class="col">
        <div class="text-center" style="padding-bottom: 20px;">Pitch</div>
        <div class="control">
          <div class="slider">
              <div class="knobWheel knobWheel6">
              </div>
            </div>  
          </div>
          <div class="text-center" id="knob-value6" style="padding-top: 20px;">0.40</div>
      </div>         
    </div>
<div class="row border">
  <div class="col-3" style="border-right: 2px solid grey;">
    <div class="text-center header">Filter</div>
    <div  class="center">
    <select class="form-select selectOption"  name="wave" id="filter">
      <option value="bypass">bypass</option>
      <option value="lowpass">lowpass</option>
      <option value="highpass">highpass</option>
    </select>
   </div>
    <br/>
    <div class="text-center">Cutoff</div>
    <br/>
    <div class="control">        
      <div class="slider">
          <div class="knobWheel knobWheel3">
          </div>
        </div>
      </div>
      <div class="text-center" id="knob-value3" style="padding-top: 20px;">0.40</div>
  </div>
  <div class="col-3" style="border-right: 2px solid grey;">
    <div class="text-center header">Panning</div>
    <br/>
    <br/>
    <br/>
    <div class="text-center">Pan</div>
    <br/>
    <div class="control">        
      <div class="slider">
          <div class="knobWheel knobWheel4">
          </div>
        </div>
      </div>
      <div class="text-center" id="knob-value4" style="padding-top: 20px;">0</div>
  </div>
  <div class="col " >
  <div class="row center" >
    <div class="">Envelope</div>
   
    <div class="col-2">
      <input class="fader" type="range"  orient="vertical" id="knob4" min="0" max="2" step="0.5" value="0">
      <div>A</div>
    </div>
  <div class="col-2">
    <input class="fader"  type="range"  orient="vertical" id="knob3" min="0" max="2" step="0.5" value="0">
    <div>D</div>
    </div>
  <div class="col-2">
    <input class="fader"  type="range"  orient="vertical" id="knob3" min="0" max="2" step="0.5" value="0">
    <div>S</div>
  </div>
  <div class="col-2">
    <input class="fader"  type="range"  orient="vertical" id="knob3" min="0" max="2" step="0.5" value="0">
    <div>R</div>
  </div>
</div>
</div>
</div>
</div>
<br/>
<br/>
<br/>
  </div>
  <script src="/scripts/game.js"></script>
</body>
