<% layout('layouts/boilerplate') %>



<div class="container">
    <form action="" method="post">
        <div class="form-outline mb-4">
            <input required  type="text" id="username" name="username" class="form-control form-control-lg" />
            <label class="form-label" for="username">Search user by username:</label>    
        </div>
        <div class="d-flex justify-content-center" >
            <button type="submit"
              class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" >Search</button>
        </div>
    </form>
    
    
</div>