<% layout('layouts/boilerplate') %>
<div class="container">
    <!-- <div class="u-align-center u-black u-container-style u-group u-opacity u-opacity-90 u-group-1" style="margin-top: -400px"> -->
        <div class="u-container-layout u-container-layout-5" >        
          <form action="/samples/<%= sample._id %>/edit?_method=PUT" id="myForm" method="post" class="needs-validation" novalidate>
            <div required class="form-outline mb-4">
              <input maxlength="30"  value="<%= sample.name %>" required  type="text" id="sampleName" name="sampleName" class="form-control form-control-lg" />
              <label class="form-label" for="sampleName">Sample Name</label> 
            </div>

            <div class="form-outline mb-4">
              <select  required name="type" class="form-control form-control-lg">
                <option selected value="">Not Selected</option>
                <option value="Drums">Drums</option>
                <option value="Synth">Synth</option>
                <option value="Vocal">Vocal</option>
                <option value="Instrument">Instrument</option>
                <option value="Other">Other</option>
              </select>
              <label class="form-label" for="type">Sample Type</label> 
            </div>

            <div class="form-outline mb-4">
              <input maxlength="10" value="<%= sample.key %>"  type="text" id="key" name="key" class="form-control form-control-lg" />
              <label class="form-label" for="key">Sample Key</label>
          </div>
            <div class="d-flex justify-content-center" >
              <button type="submit"
                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" >Edit</button>
            </div>
          </form>                      
        </div>
      </div>

</div>
<script src="/scripts/validateForms.js"></script>